body{
    background-image: url("https://www.freecodecamp.org/news/content/images/2022/09/jonatan-pie-3l3RwQdHRHg-unsplash.jpg");
    position: relative;
    background-position: center bottom;
}


.form-signup{
    max-width: 420px;
    background-color: rgba(72, 87, 123, 0.8);
}


